{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commerce</title>
</head>
<body>
<body style="background-image:url('{% static 'assets/images/commerce.jpeg' %}'); background-repeat: no-repeat;background-attachment: fixed;
  background-size: cover; ">
<h1 style="text-align:center;"><b>Commerce</b></h1>
<p style="text-align:center;"><h3>
    Commerce is the large-scale organized system of activities, functions, procedures and institutions
directly and indirectly related to the exchange (buying and selling) of goods and services among two
or more parties within local, regional, national or international economies.[1] More specifically, commerce
is not business, but rather the part of business which facilitates the movement and distribution of finished

or unfinished but valuable goods and services from the producers to the end consumers on a large scale, as
opposed to the sourcing of raw materials and manufacturing of those goods. Commerce is subtly different from

trade as well, which is the final transaction, exchange or transfer of finished goods and services between a

seller and an end consumer. Commerce not only includes trade as defined above, but also a series of transactions
that happen between the producer and the seller with the help of the auxiliary services and means which facilitate such trade.
These auxiliary services include transportation, communication, warehousing, insurance, banking, financial markets,
advertising, packaging, the services of commercial agents and agencies, etc. In other words, commerce encompasses a wide
array of political, economical, technological, logistical, legal, regulatory, social and cultural aspects of trade on a
large scale. From a marketing perspective, commerce creates time and place utility by making goods and services available
to the customers at the right place and at the right time by changing their location or placement.
Described in this manner, trade is a part of commerce and commerce is a part of business.

</h3></p>
<a href="home"> <h3 style="text-align:right;">Go to home page</h3></a>
</body>
</html>