{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Science</title>
</head>

<body style="background-image:url('{% static 'assets/images/science.jpg' %}'); background-repeat: no-repeat;background-attachment: fixed;
  background-size: cover; ">
<h1 style="text-align:center;"><b>Science</b></h1>
<p style="text-align:center;"><h3>
    Science is a systematic endeavor that builds and organizes knowledge in the form of testable explanations and predictions
    about the universe.[1][2]

The earliest written records of identifiable predecessors to modern science come from Ancient Egypt and Mesopotamia from around 3000 to 1200 BCE. Their contributions to mathematics, astronomy, and medicine entered and shaped the Greek natural philosophy of classical antiquity, whereby formal attempts were made to provide explanations of events in the physical world based on natural causes.[3]: 12 [4] After the fall of the Western Roman Empire, knowledge of Greek conceptions of the world deteriorated in Western Europe during the early centuries (400 to 1000 CE) of the Middle Ages,
    but was preserved in the Muslim world during the Islamic Golden Age and later by the efforts of Byzantine Greek scholars who brought Greek manuscripts from the dying Byzantine Empire to Western Europe in the Renaissance.

The recovery and assimilation of Greek works and Islamic inquiries into Western Europe from the 10th to 13th century revived "natural philosophy",[6][7] which was later transformed by the Scientific Revolution that began in the 16th century[8] as new ideas and discoveries departed from previous Greek conceptions and traditions.[9][10] The scientific method soon played a greater role in knowledge creation and it was not until the 19th century that many of the institutional and professional features of science began to take shape,along with the changing of "natural philosophy" to "natural science".
</h3></p>
<a href="home" > <h3 style="text-align:right;">Go to home page</h3></a>

</body>
</html>